.slideContainer{
    width: 100%;
    text-align: center;
    // height: 500px;
    display: flex;
    justify-content: center;
    :global {
        .each-fade {
            .img {
                // width: 60%;
                // height: 300px;
            }
        }
    }
}