.Showtime {
    width: 100%;
    min-height: 100vh;
    background-color: #fff3e4;
    background-image: linear-gradient(to bottom,  #1f1e1f, #b2750b);
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    .contentMain{
        width: 85%;
        background-color: #22272b; 
        .headerContent {
            color: black;
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            padding: 50px 0px;
            grid-row-end: 10px;
            padding: 2%;
            gap: 2%;
            margin-top: 40px;
            .itemContent {
                margin-bottom: 40px;
                padding-bottom: 20px;
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: #fff3e4;
                align-items: center;
                border-radius: 3px;
                cursor: pointer;
                .imageContainer {
                    border-radius: 3px;
                    overflow: hidden;
                    position: relative;
                    width: 100%;
                    // height: 0;
                    // padding-top: 75%; /* Tỷ lệ khung hình 4:3 */
                    .zoomEffect {
                        transition: transform 0.5s; /* Thời gian chuyển đổi hiệu ứng */
                    }
                      
                    .zoomEffect:hover {
                        transform: scale(1.12); /* Phóng to ảnh lên 120% khi hover */
                    }
                }
                .headerNameContent {
                    color: #ca4b19;
                    font-size: 24px;
                    font-weight: 600;
                    font-family: emoji;
                    text-transform: uppercase;
                }
                .hotLine {
                    color: #4d2400fc;
                    font-size: 20px;
                    font-weight: 400;
                    font-family: emoji;
                }
            }
        }
    }
}
