.ListChair {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2%;
    .Chair {
        display: flex;
        flex-direction: row;
        gap: 15px
    }
}