.admin {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: '200px !important';
    .menuleft {
        width:15%;
        max-width: 15%;
        margin-top: 20px;
    }
    .pageright {
        
    }
}